@use "../foundation/mixin";
@use "../foundation/variables";


.l-mainvisual{
    height: 320px;
    padding-bottom: 320px;
    background: transparent url(../images/bg-hero3.webp) no-repeat center center;
    background-position: center -25px;
    background-size: 2000px 800px;
    background-size: cover;
    position: relative;
    z-index: 0;

    @include mixin.breakpoint(tabret){
        height: 650px;
        padding-bottom: 0;
        background-position: center;
        background-attachment: fixed;
    }


    &__top{
        display: flex;
        align-items: flex-end;
        height: 320px;
        background: transparent url(../images/bg-hero1.webp) no-repeat center center;
        background-size: cover;
        background-position: center -30px;
        z-index: 200;
        
        
        @include mixin.breakpoint(tabret){
            justify-content: center;
            align-items: flex-start;
            height: 650px;
            margin: 0 auto;
            background-size: 2000px 800px;
            background-position: center;
        }
    }

    &__middle{
        height: 320px;
        background: transparent url(../images/bg-hero2.webp) no-repeat center center;
        background-size: cover;
        background-position: center -25px;
        z-index: 100;

        @include mixin.breakpoint(tabret){
            height: 650px;
            background-size: 2000px 800px;
            background-position: center 50%;
        }
    }

    &__layer{
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__description{
        width: 100%;
        height: auto;
        padding: 9px 0 13px;
        text-align: center;
        background: $color__white;
        
        @include mixin.breakpoint(tabret){
            max-width: 410px;
            margin-top: 80px;
            padding: 43px 36px 19px;
            border-radius: 10px;
        }

        & > p{
            margin: 6.5px 0;
            font-size: 1.3rem;

            @include mixin.breakpoint(tabret){
                font-size: 1.6rem;
                margin: 20px 0 8px;
            }
        }

    }

    &__logo{
        display: none;

        @include mixin.breakpoint(tabret){
           display: block;
           width: 280px;
           margin: 0 auto;
        }
    }

}

.btn-big{
    display: inline-block;
    border-radius: 5px;

    > a {
        display: block;
        font-size: 1.6rem;
        padding: 7px 20px;
        transition: font-size 0.3s,padding 0.3s;

        @include mixin.breakpoint(tabret){
            font-size: 1.8rem;
            padding: 18px 37px;
        }
    }
}